@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
  background: black !important;
  /* color: white; */
}

.coupon_text {
  height: 100% !important;
}

.text-red{
  color:red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hero_head{
  color:linear;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(251, 0, 255), rgb(121, 0, 196));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* iphone product */

.icard {
  padding: 10px;
  height: 475px;
  width: 350px;
  background: rgb(78, 78, 78);
  border-radius: 13px;
}

.icard img {
  height: 60%;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}

.color_phones, .price {
  width: 100%;
  padding: 10px;
}

.card_container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  width: 100vw;
}